body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
h1{
    font-size: 45px;
    color: rgb(80, 76, 71);
      
}
h2{
    font-size: 30px;
    color: rgb(80, 76, 71);
}

.tomato-color{
    color: tomato;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}
.half-width img{
    width: 85%;
    padding-left: 80px;
     
     
}
.color{
    color: rgb(131, 125, 115);
    font-size: 15px;
}
.about-me {
    background: url(img/7\ -\ Copy.png);
    height: 0%;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
  }
   
    
  .center-tag h2 {
    display: block;
    margin-left: 47%;
    margin-right: auto;
    width: 50%;
       
  }

  .color1{
    color: rgb(131, 125, 115);
    font-size: 15px;
    text-align:center;
      }
 
      p {
        color:rgb(131, 125, 115);
        
      }


.center-tag h2{
    text-align:center;
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 50%;
    margin-right: 0;
    
} 
    .pargraph-to{
       
  
        width: 80%;
        padding-left: 38%;
        text-align:center;
    }
    
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0%;
    position: absolute;
    top: 65%;
    color: white;
}

button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  .glow-on-hover {
    width: 220px;
    height: 70px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 100px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.recipies-box{
    width:30%;
    margin-left: 5%;
    margin-right: 4%;
    box-shadow: 10px 10px 40px rgb(131, 125, 115);
    padding-left:2%;
    padding-right: %;
    border-radius: 35px;
    border: 1px solid lightblue;
    height: 340px;
     
     
}
.recipies-box img{
    width: 73%;
    padding-left: 1%;
    border: 1px solid #ddd;
  border-radius: 50px;
  padding: 20px;
  
}
.recipies-box h2{
    font-size: 20px;
    color: rgb(80, 76, 71);
}
.recipies-box p{
    font-size: 10px;
    color: rgb(107, 95, 80);
}
 
 .box{
     width: 100%;
     padding-left: 10%;
     box-shadow: 0 0 10px gray;
     border-radius: px;
     -webkit-box-shadow: 0 8px 6px -6px #000000;

-moz-box-shadow: 0 8px 6px -6px #000000;

box-shadow: 0 8px 6px -6px #000000;
 }
 
 footer p{
     text-align: center;
 }
 footer {
    margin: auto;
    height: 100px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
     

    
}

footer span {
    display:block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}



 